
<!-- Jobs -->
<section id="entrepreneurial_exp">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="page-header">Entrepreneurial Experience</h2>
            </div>
        </div>
        {% assign jobs = site.data.entrepreneurship | sort:"date" %}
        {% for p in jobs reversed %}
        <div class="row{% if p != jobs.first %} not-last{% endif %}">
            <div class="col-sm-3">
                {% include thumbnail.html %}
            </div>
            <div class="col-sm-9">
                <h4>{{ p.company }}</h4>
                <p><span class="text-danger">{% for position in p.position %}{% if position == p.position.last %}and {% endif %}{{ position }}{% if p.position.size > 2 %},{% endif %} {% endfor %}</span><br> {{ p.date }} {{ p.location }}</p>
                <p>{{ p.caption }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
