<!-- Footer -->
<footer>
    <div class="col-md-12 text-center">
        © Copyright. All rights reserved. Designed and created by Andrew Andrade. 
    </div>
</footer>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides">#</div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title">#</h3>
    <a class="prev">‹</a><a class="next">›</a><a class="close">×</a><a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
