
<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <br>
                <br>
                <br>
                <h1><img src="img/aa.png" alt="Home" width="90" height="90">    {{ site.author }}</h1>
                <h2>Mechatronics Engineering & Management Science</h2>
                <hr class="small">
                <p class="lead">
                Just someone learning how to lead projects and solve problems with data.         
                <br>
                Founder of <a href="http://www.petropredict.com"target="_blank">PetroPredict</a>. Past intern at <a href="http://www.facebook.com/"target="_blank">Facebook</a>, <a href="http://www.suncor.com"target="_blank">Suncor (PetroCanada)</a> and <a href="http://www.chrysler.ca/"target="_blank">Chrysler</a>. Currently a candidate for BASc in <a href="https://uwaterloo.ca/mechanical-mechatronics-engineering/future-undergraduate-students/mechatronics-engineering"target="_blank">Mechatronics Engineering</a> .   
                </p>
                <div class="row text-center">
                    <div class="col-xs-4 col-sm-4">
                        <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#110;&#100;&#114;&#101;&#119;&#64;&#97;&#110;&#100;&#114;&#101;&#119;&#97;&#110;&#100;&#114;&#97;&#100;&#101;&#46;&#99;&#97;" target="_blank" id="_blank" class="social-link">
                            {% include fa.html icon="envelope" %}
                            <span class="sr-only">Contact</span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <a href="https://www.linkedin.com/in/andrewandrade" target="_blank" id="linkedin" class="social-link">
                            {% include fa.html icon="linkedin" %}
                            <span class="sr-only">LinkedIn</span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <a href="https://github.com/mrandrewandrade" target="_blank" id="github" class="social-link">
                            {% include fa.html icon="github" %}
                            <span class="sr-only">GitHub</span>
                        </a>
                    </div>
                </div>

                <noscript>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <div class="alert alert-danger" role="alert">Enable JavaScript to unlock Galleries and the Contact Form.</div>
                        </div>
                    </div>
                </noscript>
            </div>
        </header>
