
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand page-scroll" href="#page-top"><img src="img/aa_white.png" alt="Home" width="30" height="30"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden"><a class="page-scroll" href="#page-top"></a></li>
                <li><a class="page-scroll" href="#projects">Projects</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Publications <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="page-scroll" href="#research_pub">Research</a></li>
                    <li><a class="page-scroll" href="#patent">Patent</a></li>
                    <li><a class="page-scroll" href="#blogs">Blogs</a></li>
                    <li><a class="page-scroll" href="#guest_writing">Guest Writing</a></li>
                </ul>

                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Experience <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="page-scroll" href="#entrepreneurial_exp">Entrepreneurial</a></li>
                    <li><a class="page-scroll" href="#industry_exp">Industry (Full time)</a></li>
                    <li><a class="page-scroll" href="#research_exp">Research</a></li>
                    <li><a class="page-scroll" href="#consulting_exp">Consulting (Part time)</a></li>
                    <li><a class="page-scroll" href="#education_exp">Education</a></li>
                    <li><a class="page-scroll" href="#leadership_exp">Leadership</a></li>
                    <li><a class="page-scroll" href="#professional_exp">Professional</a></li>
                    <li><a class="page-scroll" href="#volunteer_exp">Volunteering</a></li>
                    <li><a class="page-scroll" href="#talks">Public Speaking</a></li>

                </ul>
                <!--	<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Misc<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a class="page-scroll" href="#tutorials">Tutorials</a></li>
            <li><a class="page-scroll" href="#travel">Travel</a></li>
            <li><a class="page-scroll" href="#courses">Courses</a></li>
            <li><a class="page-scroll" href="#photography">Photography</a></li>
            <li><a class="page-scroll" href="#hema">HEMA Fight Club</a></li>
          </ul>
          -->
                <li><a class="page-scroll" href="#awards">Awards</a></li>
                <li><a class="page-scroll" href="#news">News</a></li>
                <li><a class="page-scroll" href="#contact">Contact</a></li>
            </div>

        </div>
    </nav>
