<!-- Publications -->
<section id="resumes">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="page-header">R&eacute;sum&eacute;s</h2>
                <br>
                <p class="lead">
                My experience has been broad in scope, my execution is narrow in focus and my greatest strength is in decision making under uncertainty, ruthless prioritization, and leading teams to get the important things done.

                </p>
                <div class="btn-group btn-group-justified">
                    <a href="http://mrandrewandrade.com/resumes/andrew-andrade.pdf" class="btn btn-default">General</a>
                    <a href="http://mrandrewandrade.com/resumes/andrew-andrade-product.pdf" class="btn btn-default">Product</a>
                    <a href="http://mrandrewandrade.com/resumes/andrew-andrade-petroleum.pdf" class="btn btn-default">Petroleum</a>
                    <a href="http://mrandrewandrade.com/resumes/andrew-andrade-data.pdf" class="btn btn-default">Data</a>
                    <a href="http://mrandrewandrade.com/resumes/andrew-andrade-hardware.pdf" class="btn btn-default">Hardware</a>
                </div>    


            </div>
        </div>
    </div>
</section>
