<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


{% include ga.html %}

{% include navbar.html %}

{% include header.html %}


{% include projects.html %}

{% include research_pub.html %}
{% include patent.html %}
{% include blogs.html %}
{% include guest_writing.html %}


{% include entrepreneurial.html %}
{% include industry.html %}
{% include research_exp.html %}
{% include consulting.html %}
{% include education.html %}
{% include leadership.html %}
{% include professional.html %}
{% include volunteering.html %}
{% include talks.html %}


{% include awards.html %}
{% include news.html %}


{% include contact.html %}

{% include footer.html %}

{% include scripts.html %}

</body>

</html>
